<html>
  <head>
    <% javascripts.each do |js| %>
      <%= load_js("js/vendor/" + js)%>
    <% end %>
    <%= load_js("main.js") %>
    <%= load_css("main.css")%>
  </head>

  <body>
    This is a <%= awesome %>

    To be updated later...

    <%= load "test.html.erb" %>
  </body>
</html>
